.page {
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  padding: 28px 0 24px;
  box-sizing: border-box;
  background-color: #2A2C2F;
}
