.lead__top {
  min-width: 320px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

@media (min-width:1024px) {
  .lead__top {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media (min-width:768px) and (max-width:1023px) {
  .lead__top {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width:767px) {
  .lead__top {
    padding-left: 16px;
    padding-right: 16px;
  }
}