.cover__title {
  font-weight: 900;
  line-height: 1.1;
}

@media (min-width:1280px) {
  .cover__title {
    width: 47%;
  }
}

@media (min-width:768px) {
  .cover__title {
    font-size: 72px;
    margin: 0 0 32px;
  }
}

@media (max-width:767px) {
  .cover__title {
    font-size: 32px;
    margin: 0 0 16px;
  }
}